<div class="panel panel-primary">
    <div class="panel-heading"><strong>User Profile</strong></div>
    <div class="row" id="profile-block">
        {{#if profile_image_url}}
            <img src="{{profile_image_url}}" alt="Profile Image" class="col-xs-6 col-md-4" id="profile-image">
        {{/if}}
        <div class="col-xs-6 col-md-4" id="profile-info">
            {{#if user}}
                {{#with user}}
                <div>
                    <i>Username: </i>
                    <strong>
                        <span>
                            {{username}}
                        </span>
                    </strong>
                </div>
                <div>
                    <i>Name: </i>
                    <strong>
                        <span>
                            {{first_name}} {{last_name}}
                        </span>
                    </strong>
                </div>
                <div>
                    <i>Email: </i>
                    <strong>
                        <span>
                            {{email}}
                        </span>
                    </strong>
                </div>
                {{/with}}
                {{else}}
                    <div>
                        <i>Username: </i>
                        <strong>
                            <span>
                                {{username}}
                            </span>
                        </strong>
                    </div>
                    <div>
                        <i>Name: </i>
                        <strong>
                            <span>
                                {{first_name}} {{last_name}}
                            </span>
                        </strong>
                    </div>
                    <div>
                        <i>Email: </i>
                        <strong>
                            <span>
                                {{email}}
                            </span>
                        </strong>
                    </div>
            {{/if}}
            {{#if clazz}}
                {{#with clazz}}
                    <div>
                        <i>Class: </i>
                        <strong>
                            <span>
                                {{number}}{{letter}}
                            </span>
                        </strong>
                    </div>
                {{/with}}
                <div>
                    {{#if info}}
                        <i>About: </i>
                        <strong><span>{{info}}</span></strong>
                    {{else}}
                        <strong><span><i>No details provided.</i></span></strong>
                    {{/if}}
                </div>
            {{/if}}
            <div>
                {{#if can_edit}}
                    <button id="edit-profile" class="btn btn-primary">Edit profile</button>
                {{/if}}
            </div>
        </div>
    </div>
</div>
