<div id="wrapper">
  <div class="form-group form-wrapper">
      <label for="title">Title: </label>
      <input type="text" class="form-control" id="title" value="{{data.title}}">
      <label for="title">Section: </label>
      <input type="text" class="form-control" id="section" value="{{data.section}}">
      <label for="content">Content: </label>
      <textarea class="form-control" id="material-content" rows="4">{{data.content}}</textarea>
      <label for="class-number">Class: </label>
      <select class="form-control" name="class-number" id="class-number">
          <option value="8">8</option>
          <option value="9">9</option>
          <option value="10">10</option>
          <option value="11">11</option>
          <option value="12">12</option>
        </select>
      <label for="subject-id">Subject: </label>  
      <select class="form-control" name="subject-id" id="subject-id">
          {{#each subjects}}
          <option value="{{this.id}}">{{this.title}}</option>
          {{/each}}
        </select>
        <label for="video-url">Link to video lesson: </label>
        <input type="url" class="form-control" id="video-url" value="{{data.video_url}}">
        <button class="btn btn-lg btn-primary btn-block submit" id="save-button">Save Changes to the Material</button>
  </div>
</div>
