<div id="wrapper">
    {{#if materials}}
        {{#each materials}}
            <div class="panel panel-primary">
                <div class="panel-heading material-panel-heading">
                    <strong>
                        {{subject.title}}
                    </strong>
                </div>
                <div class="panel-body">
                    <h4 class="material-title">{{title}}</h4>
                    <h5 class="material-section">{{section}}</h5>
                    <div id="content">{{content}}</div>

                    Posted by
                    <a href="#/profile/{{author.user.id}}">
                        <span><strong><i>{{author.user.username}}</i></strong></span>
                    </a>

                    <button id="info-button" class="btn btn-primary" onclick="window.location.href = '#/materials/{{subject.id}}/{{id}}'"><a class="heading-anchor" href="#/materials/{{subject.id}}/{{id}}">Info</a></button>
                </div>
            </div>
        {{/each}}
    {{else}}
        <h3>No available materials now.</h3>
    {{/if}}

    {{#if isTeacher}}
        <button type="button" class="btn btn-primary btn-circle btn-lg" id="add-material">
            <i class="glyphicon glyphicon-pencil"></i>
        </button>
    {{/if}}
</div>
