<div class="col-xs-2 col-md-1 img-container">
    <img class="user-photo" src="{{posted_by.profile_image_url}}">
</div>

<div class="col-xs-9 col-sm-10 col-sm-10 col-md-10 col-lg-10">
    <div id="comment-{{id}}" class="comment-panel panel panel-default">
        <div class="panel-heading">
            <strong>{{this.posted_by.username}}</strong> commented {{formatRelative this.posted_on}}
            <div class="panel-body form-wrapper">
                <input class="form-control" id="new-comment-content" type="text" value="{{this.content}}">
                <button id="save-button" class="btn btn-primary submit">Save</button>
            </div>
        </div>
    </div>
</div>