<div class="col-lg-3 col-md-3 col-sm-12" id="{{number}}{{letter}}">
    <div class="panel panel-default info-panel select-class text-center">
        <a href="#/grades/{{number}}/{{letter}}">
            {{number}}{{letter}}
        </a>
    </div>
</div>