<div class="intro-header">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message">
                    <h1 align="center" class="authorized">ELSYSER</h1>
                    <h3>Dashboard</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-4 col-md-4 col-sm-8" id="news-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <a href="#/news">News</span>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each news}}
                <div class="info-container">
                    <a href="/#/news/{{id}}"> {{title}} </a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-8" id="schedule-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Schedule</span>
                </strong>
            </div>
            <div class="panel-body info-body">

            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-8" id="homeworks-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <a href="#/homeworks">Homeworks</a>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each homeworks}}
                <div class="info-container">
                    <span class="text">{{subject.title}} - {{details}}</span>
                    <br />
                    <strong>{{deadline}}</strong>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-8" id="exams-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <a href="#/exams">Exams</a>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each exams}}
                <div class="info-container">
                    <span class="text">{{subject.title}} - {{topic}}</span>
                    <br />
                    <strong>{{date}}</strong>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-8" id="materials-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Materials</span>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each materials}}
                <div class="info-container">
                    <a href="#/materials/{{subject.id}}/{{id}}">{{subject.title}} - {{title}}</a>
                    <br />
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-lg-4 col-md-4 col-sm-8" id="grades-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading">
                <strong>
                    <span>Grades</span>
                </strong>
            </div>
            <div class="panel-body info-body">

            </div>
        </div>
    </div>
</div>

<div class="footer lead navbar navbar-bottom">
    <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> with
    <span class="glyphicon glyphicon-heart-empty"></span> by <a href="http://www.github.com/pu6ki" target="_blank">pu6ki</a>    All rights reserved.
</div>