<div class="intro-header overlay">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="intro-message text-center">
                    <img src="../static/logo-white.png" alt="Logo" align="center" id="home-logo" />
                    <h3>Dashboard</h3>
                    <hr class="intro-divider">
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container">
    <div class="col-lg-6 col-md-6 col-sm-12" id="news-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading text-center">
                <strong>
                    <a href="#/news">News</a>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each news}}
                <div class="info-container text-center">
                    <a href="/#/news/{{#if isTeacher}}teachers/{{else}}students/{{/if}}{{id}}">{{title}} - {{author.username}}</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="homeworks-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading text-center">
                <strong>
                    <a href="#/homeworks">Homeworks</a>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each homeworks}}
                <div class="info-container text-center">
                    <a href="#/homeworks/{{id}}/">{{subject.title}} - {{details}} ({{deadline}})</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="exams-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading text-center">
                <strong>
                    <a href="#/exams">Exams</a>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each exams}}
                <div class="info-container text-center">
                    <a href="#/exams/{{id}}/">{{subject.title}} - {{topic}} ({{date}})</a>
                </div>
                {{/each}}
            </div>
        </div>
    </div>

    <div class="col-lg-6 col-md-6 col-sm-12" id="materials-panel">
        <div class="panel panel-primary info-panel">
            <div class="panel-heading text-center">
                <strong>
                    <a href="#/materials">Materials</a>
                </strong>
            </div>
            <div class="panel-body info-body">
                {{#each materials}}
                <div class="info-container text-center">
                    <a href="#/materials/{{subject.id}}/{{id}}">{{subject.title}} - {{title}}</a>
                    <br />
                </div>
                {{/each}}
            </div>
        </div>
    </div>
</div>

<div class="footer lead navbar navbar-bottom">
    <span class="glyphicon glyphicon-chevron-left"></span><span class="glyphicon glyphicon-chevron-right"></span> with
    <span class="glyphicon glyphicon-heart-empty"></span> by <a href="http://www.github.com/pu6ki" target="_blank">pu6ki.</a>    All rights reserved.
</div>