<div id="wrapper">
    {{#if this}}
        {{#each this}}
            <div class="panel panel-primary">
                <div class="panel-heading text-center">
                    <strong>
                        <span>{{title}}</span>
                    </strong>
                </div>
                <div class="panel-body">
                    <div class="text-center">
                        <span><strong><i>{{content}}</i></strong></span>
                    </div>
                    <hr />
                    <div>
                        Posted by
                        <a href="#/profile/{{author.id}}">
                            <span><strong><i>{{author.username}}</i></strong></span>
                        </a>
                        <span> {{formatRelative posted_on}}</span>

                        {{#if edited}}
                            <span >(last edited {{formatRelative last_edited_on}})</span>
                        {{/if}}
                    </div>
                    <div>
                        <span class="glyphicon glyphicon-comment" aria-hidden="true"></span>
                        {{#if comments_count}}
                            <strong><i>{{formatMessage (intlGet "messages.comments") comments_count=comments_count}}</i></strong>
                        {{else}}
                            <strong><i>No comments</i></strong>
                        {{/if}}
                    </div>
                    <button id="info-button" class="btn btn-primary" onclick="window.location.href = '#/news/{{#if ../isTeacher}}teachers/{{clazz.number}}/{{clazz.letter}}/{{else}}students/{{/if}}{{id}}'">
                        <a class="heading-anchor" href="#/news/{{#if ../isTeacher}}teachers/{{clazz.number}}/{{clazz.letter}}/{{else}}students/{{/if}}{{id}}">Info</a>
                    </button>
                </div>
            </div>
        {{/each}}
    {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">There are no available news so far.</h3>
            </div>
        </div>
        
    {{/if}}
    <button class="btn btn-circle btn-lg btn-bottom" id="add-news">
        <i class="glyphicon glyphicon-pencil"></i>
    </button>
</div>
