<div id="wrapper">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>
                 <span>{{student.user.first_name}} {{student.user.last_name}} - {{student.user.clazz.number}}{{student.user.clazz.letter}}</span>
             </strong>
            {{#if editable}}
                <div class="pull-right edit">
                    <span id="news-{{id}}-edit" class="edit"><span class="glyphicon glyphicon-edit"></span></span>
                    <span id="news-{{id}}-delete" class="delete"><span class="glyphicon glyphicon-trash"></span></span>
                </div>
            {{/if}}
        </div>
        <div class="panel-body">
            <div>
                <span><strong><i>{{content}}</i></strong></span>
                <span><strong><i>{{solution_url}}</i></strong></span>
            </div>
            <div>
                Posted by
                <a href="#/profile/{{student.user.id}}">
                    <span><strong><i>{{student.user.username}}</i></strong></span>
                </a>
                <span> {{formatRelative posted_on}}</span>

                {{#if edited}}
                    <span >(last edited {{formatRelative last_edited_on}})</span>
                {{/if}}
            </div>
        </div>
    </div>
</div>