<div id="wrapper">
    <div class="panel panel-primary">
        <div class="panel-heading">
            <strong>
                {{subject.title}}
            </strong>
            {{#if editable}}
            <div class="pull-right edit">
                <span id="homework-{{id}}-edit" class="edit"><span class="glyphicon glyphicon-edit"></span></span>
                <span id="homework-{{id}}-delete" class="delete"><span class="glyphicon glyphicon-trash"></span></span>
            </div>
            {{/if}}
        </div>
        <div class="panel-body">
            <div id="deadline">
                <i>Deadline </i><strong><span>{{formatRelative deadline}}</span></strong>
            </div>
            <div id="details">
                {{#if details}}
                    <i>Details: </i><strong><span>{{details}}</span></strong>
                {{else}}
                    <i>No details provided.</i>
                {{/if}}
            </div>

            Posted by
            <a href="#/profile/{{author.id}}">
                <span><strong><i>{{author.username}}</i></strong></span>
            </a>
        </div>
    </div>
</div>
