{{#if this}}
    <div id="wrapper">
        <h4 class="text-center">Latest submission:</h4>
        <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <strong>
                             <span>{{student.user.first_name}} {{student.user.last_name}} - {{student.clazz.number}}{{student.clazz.letter}}</span>
                         </strong>
                        {{#if editable}}
                            {{#if checked}}
                                <div class="pull-right">
                                    Checked
                                </div>
                            {{else}}
                                <div class="pull-right edit">
                                    <span id="submission-edit" class="edit"><span class="glyphicon glyphicon-edit"></span></span>
                                </div>
                            {{/if}}
                        {{else}}
                            <div class="pull-right check">
                                <span id="mark-checked" class="checked"><span class="glyphicon glyphicon-ok"></span></span>
                            </div>
                        {{/if}}
                    </div>
                    <div class="panel-body">
                        <div>
                            Content: <strong><i><span id="submission-content">{{{content}}}</span></i></strong>
                            <br />
                            Solution URL: <a href="{{solution_url}}" target="_blank"><strong><i><span id="solution-url">Link</span></i></strong></a>
                        </div>
                        <div>
                            Posted by
                            <a href="#/profile/{{student.user.id}}">
                                <span><strong><i>{{student.user.username}}</i></strong></span>
                            </a>
                            <span> {{formatRelative posted_on}}</span>
                        
                            {{#if edited}}
                                <span>(last edited {{formatRelative last_edited_on}})</span>
                            {{/if}}
                        </div>
                    </div>
        </div>
            </div>
        </div>
    </div>
{{else}}
    <button type="button" class="btn btn-primary center-block" id="send-homework-button">Send homework</button>
{{/if}}
