<div id="wrapper">
    {{#if this}}
        <div class="row">
        {{#each this}}
        <div class="col-sm-12 col-md-12 col-lg-10 col-lg-offset-1">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <strong>
                        <span>{{student.user.first_name}} {{student.user.last_name}} - {{student.clazz.number}}{{student.clazz.letter}}</span>
                    </strong>
                </div>
                <div class="panel-body">
                    <div>
                        <span><strong><i>{{content}}</i></strong></span>
                    </div>
                    <div>
                        Posted by
                        <a href="#/profile/{{student.user.id}}">
                            <span><strong><i>{{student.user.username}}</i></strong></span>
                        </a>
                        <span> {{formatRelative posted_on}}</span>

                        {{#if edited}}
                            <span >(last edited {{formatRelative last_edited_on}})</span>
                        {{/if}}
                    </div>
                    <button id="info-button" class="btn btn-primary" onclick="window.location.href = '#/homeworks/{{homeworkId}}/submissions/{{id}}'"><a class="heading-anchor" href="#/homeworks/{{homeworkId}}/submissions/{{id}}">Info</a></button>
                </div>
            </div>
        </div>
        {{/each}}
        </div>
    {{else}}
        <div class="panel panel-default">
            <div class="panel-body">
                <h3 class="text-center">No submissions for this homework.</h3>
            </div>
        </div>
    {{/if}}
</div>
